<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <link rel="stylesheet" href="myuis.css">
  <title>Course Management</title>
</head>

<body>

  <% if (message !=='undefined' && message) { %>
    <span class="toast" id="successToast">
      <%= message %>
    </span>
    <% } %>

      <header>

        <a href="/landing" class="logo">HEdClass</a>
        <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>

          <a href="/dashboard" class="button">Dashboard</a>
          <a href="/studentmgmt" class="button">Student Management</a>
          <% } %>
            <% if(userAccessLevel==="admin" ) { %>
              <a href="/officermgmt" class="button"> Officer Management </a>
              <% } %>
                <% if(userAccessLevel==="officer(edit)" || userAccessLevel === "admin" ) { %>
                  <a href="/coursemgmt" class="button"> Course Management</a>
                  <%}%>
                    <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ||
                      userAccessLevel==="admin" ) { %>
                      <a href="/logout" class="button">Logout</a>
                      <% } %>

                        <button> ( logged in as <Strong>
                            <%= userAccessLevel %>
                          </Strong>) </button>
      </header>


      <h3>Welcome to Course Management</h3>
      <% if(userAccessLevel==="admin" ) { %>

        <p>
          Here you can either: <button class="headerButton"> <a href="/coursemgmt"> View Courses
            </a></button> or <button class="headerButton"> <a href="/courseadd"> Add new Course
            </a> </button>
        </p>
        <hr>
        <%}%>
          <div class="container" id="studentTable">
            <div class="row">
              <%courses.forEach((course)=>{ %>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="card fluid">
                    <div class="section double-padded">
                      <b>Course Title:</b>
                      <%= course.title %>
                    </div>
                    <div class="section double-padded">
                      <b> Course y2 Weight:</b>
                      <%= course.classificationYear2Weight %>
                    </div>
                    <div class="section double-padded">
                      <b>Course y3 Weight:</b>
                      <%= course.classificationYear3Weight %>
                    </div>
                    <div class="section double-padded">
                      <b>Course Max Resit Score:</b>
                      <%= course.resitMax %>
                    </div>
                    <div class="section double-padded">
                      <b>Course Fail Threshold:</b>
                      <%= course.failBoundary %>
                    </div>
                    <div class="section double-padded">
                      <b>Course Third Range:</b>
                      <%= course.thirdLower %> - <%= course.thirdUpper %>
                    </div>
                    <div class="section double-padded">
                      <b>Course Two Two Range:</b>
                      <%= course.twoTwoLower %> - <%= course.twoTwoUpper %>
                    </div>
                    <div class="section double-padded">
                      <b>Course Two One Range:</b>
                      <%= course.twoOneLower %> - <%= course.twoOneUpper %>
                    </div>
                    <div class="section double-padded">
                      <b>Course First Boundary:</b> ><%= course.firstBoundary %>
                    </div>
                    <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>
                      <div class="section double-padded">
                        <button> <a href="/editcourse/<%= course.id %>">Edit</a></button>
                        
                      </div>
                      <%}%>
                  </div>
                </div>

                <% }); %>
            </div>
          </div>


</body>

</html>