<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <link rel="stylesheet" href="myuis.css">
  <title>HedClass</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

      <header>

        <a href="/landing" class="logo">HEdClass</a>
        <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>

          <a href="/dashboard" class="button">Dashboard</a>
          <a href="/studentmgmt" class="button">Student Management</a>
          <% } %>
            <% if(userAccessLevel==="admin" ) { %>
              <a href="/officermgmt" class="button"> Officer Management </a>
              <% } %>
                <% if(userAccessLevel==="officer(edit)" || userAccessLevel === "admin" ) { %>
                  <a href="/coursemgmt" class="button"> Course Management</a>
                  <%}%>
                    <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ||
                      userAccessLevel==="admin" ) { %>
                      <a href="/logout" class="button">Logout</a>
                      <% } %>

                        <button> ( logged in as <Strong>
                            <%= userAccessLevel %>
                          </Strong>) </button>
      </header>

            <h3>Welcome to the Dashboard </h3>
            <p>
                Here you can view result information by course type. You can also <a href="/exportData"> export data </a>.
            </p>
            <hr>



  <div class="container" id="dashboardTable">
    <div class="row">
      <%studentStats.forEach((course)=>{ %>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="card fluid">
            <div class="section double-padded"> <b> Course Name:</b>
              <%= course.title %>
            </div>
            <div class="section double-padded"> <b>Total Number of Students:</b>
              <%= course.totalStudents %> (<%= course.studentCountPercentage %>%)
            </div>
            <div class="section double-padded"> <b>Average score achieved: </b>
              <%= course.averageScore %>
            </div>
            <div class="section double-padded"> <b>Number of Firsts: </b>
              <%= course.gradeFirst %> (<%= course.firstPercentage %>%)
            </div>
            <div class="section double-padded"><b>Number of 2:1s:</b>
              <%= course.gradeTwoOne %> (<%= course.twoOnePercentage %>%)
            </div>
            <div class="section double-padded"><b>Number of 2:2s:</b>
              <%= course.gradeTwoTwo %> (<%= course.twoTwoPercentage %>%)
            </div>
            <div class="section double-padded"><b>Number of Thirds: </b>
              <%= course.gradeThird %> (<%= course.thirdPercentage %>%)
            </div>
            <div class="section double-padded"><b>Number of Fails:</b>
              <%= course.gradeFail%> (<%= course.failPercentage %>%)
            </div>
            <div class="section double-padded"><canvas id="chart-<%= course.id%>" width="1000" height="750">
              </canvas></div>
          </div>
        </div>

        <% }); %>

          <script>
            const courseData = <%-JSON.stringify(studentStats) %>.filter(Boolean);
            courseData.forEach((course) => {
              const ctx = document.getElementById(`chart-${course.id}`);
              new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: ["First", "2:1", "2:2", "Third", "Fail"],
                  datasets: [{
                    label: course.title,
                    data: [
                      course.gradeFirst,
                      course.gradeTwoOne,
                      course.gradeTwoTwo,
                      course.gradeThird,
                      course.gradeFail
                    ]
                  }]
                },
                options: {
                  responsive: true,
                  indexAxis: 'x',
                  plugins: {
                    title: {
                      display: true,
                      text: "Graph to show distribution of classifications by course",
                      font: { size: 16 }
                    }
                  }
                  

                }
              });


            })
          </script>
    </div>
  </div>
</body>

</html>