<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="/myuis.css">
    <title>Edit Student</title>
</head>

<body>

      <header>

        <a href="/landing" class="logo">HEdClass</a>
        <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>

          <a href="/dashboard" class="button">Dashboard</a>
          <a href="/studentmgmt" class="button">Student Management</a>
          <% } %>
            <% if(userAccessLevel==="admin" ) { %>
              <a href="/officermgmt" class="button"> Officer Management </a>
              <% } %>
                <% if(userAccessLevel==="officer(edit)" || userAccessLevel === "admin" ) { %>
                  <a href="/coursemgmt" class="button"> Course Management</a>
                  <%}%>
                    <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ||
                      userAccessLevel==="admin" ) { %>
                      <a href="/logout" class="button">Logout</a>
                      <% } %>

                        <button> ( logged in as <Strong>
                            <%= userAccessLevel %>
                          </Strong>) </button>
      </header>


    <p>
        To update a Student record, please populate all required fields below
    </p>
    <hr>

    <form action="/editstudent" method="POST">


        User id: <input type="text" name="studentid" readonly value="<%=student[0].id %>">
        </div>
        <div>
            Student First Name: <input type="text" name="studentFirstName" value="<%=student[0].firstName %>">

            <div>

                Student Last Name: <input type="text" name="studentLastName" value="<%=student[0].lastName %>">
            </div>
            <div>
                Student email address: <input type="text" name="studentEmail" value="<%=student[0].email %>">
            </div>
            <div>
                Graduation Year: <input type="text" name="studentGradYr" value="<%=student[0].graduationYear %>">
            </div>


            </p>
            <input type="submit" value="update">
    </form>


</body>

</html>