<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <link rel="stylesheet" href="/myuis.css">
  <title>Award Calc</title>
</head>

<body>

  <% if (message !=='undefined' && message) { %>
    <span class="toast" id="successToast">
      <%= message %>
    </span>
    <% } %>

      <header>

        <a href="/landing" class="logo">HEdClass</a>
        <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>

          <a href="/dashboard" class="button">Dashboard</a>
          <a href="/studentmgmt" class="button">Student Management</a>
          <% } %>
            <% if(userAccessLevel==="admin" ) { %>
              <a href="/officermgmt" class="button"> Officer Management </a>
              <% } %>
                <% if(userAccessLevel==="officer(edit)" || userAccessLevel === "admin" ) { %>
                  <a href="/coursemgmt" class="button"> Course Management</a>
                  <%}%>
                    <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ||
                      userAccessLevel==="admin" ) { %>
                      <a href="/logout" class="button">Logout</a>
                      <% } %>

                        <button> ( logged in as <Strong>
                            <%= userAccessLevel %>
                          </Strong>) </button>
      </header>
      <% if(userAccessLevel==="officer(edit)" ) { %>
        <p>
          Here you can: <button class="headerButton"> <a href="/resultadd/<%= student[0].id %>"> Add New Module Result
            </a> </button>
          <%}%>

        </p>
        <hr>

        <p>
          All Module results awarded to selected Student <b>(<%= student[0].firstName %>
              <%= student[0].lastName %>) </b>:
        </p>
        <hr>

        <div class="container" id="resultsTable">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="card fluid">
                <table>
                  <thead>
                    <th> First Name</th>
                    <th> Last Name</th>
                    <th> Email</th>
                    <th> Module Name</th>
                    <th> Module ID</th>
                    <th> Credit Value</th>
                    <th> Score</th>
                    <th> Resit?</th>
                  </thead>
                  <tbody>

                    <%totalResults.forEach((result)=>{ %>
                      <tr>
                        <td> <b>First name:</b>
                          <%= result.firstName %> <br>
                        </td>
                        <td> <b>Second name:</b>
                          <%= result.lastName %> <br>
                        </td>
                        <td> <b>Email:</b>
                          <%= result.email %> <br>
                        </td>
                        <td> <b>Module Name:</b>
                          <%= result.moduleName %> <br>
                        </td>
                        <td> <b>Module Id:</b>
                          <%= result.moduleID %> <br>
                        </td>
                        <td> <b>Credit Value:</b>
                          <%= result.creditValue %> <br>
                        </td>
                        <td> <b>Score:</b>
                          <%= result.score %> <br>
                        </td>
                        <td> <b>Resit?:</b>
                          <% if (result.resit===1){ %>
                            Yes <% } else {%> No <% } %><br>
                        </td>
                      </tr>
              </div>
            </div>
            <% }); %>
              </tbody>
              </table>

          </div>
        </div>

          <% if(userAccessLevel==="officer(edit)" ) { %>
        <p>
          Course Classification Options for: <b>(<%= student[0].firstName %>
              <%= student[0].lastName %>) </b>:
        </p>
      
          <form action="/addclassification" method="POST" class="style-Override">
            <input type="hidden" name="studentId" value="<%= student[0].id %>">
            <input type="submit" value="Auto-Calculate Classification" class="headerButton">
          </form>

          <%}%>

            <% if (award.length> 0 && userAccessLevel === "officer(edit)") { %>
              <a href="/editclassification/<%= student[0].id %>">
                <button class="headerButton">Manually Override Classification</button>
              </a>
              <% } %>


</body>



</html>