<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="myuis.css">
    <title>Officer Management</title>
</head>

<body>

    <% if (message !=='undefined' && message) { %>
        <span class="toast" id="successToast">
            <%= message %>
        </span>
        <% } %>
      <header>

        <a href="/landing" class="logo">HEdClass</a>
        <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>

          <a href="/dashboard" class="button">Dashboard</a>
          <a href="/studentmgmt" class="button">Student Management</a>
          <% } %>
            <% if(userAccessLevel==="admin" ) { %>
              <a href="/officermgmt" class="button"> Officer Management </a>
              <% } %>
                <% if(userAccessLevel==="officer(edit)" || userAccessLevel === "admin" ) { %>
                  <a href="/coursemgmt" class="button"> Course Management</a>
                  <%}%>
                    <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ||
                      userAccessLevel==="admin" ) { %>
                      <a href="/logout" class="button">Logout</a>
                      <% } %>

                        <button> ( logged in as <Strong>
                            <%= userAccessLevel %>
                          </Strong>) </button>
      </header>


            <h3>Welcome to Officer Management</h3>
            <p>
            Here you can either: <button class="headerButton"> <a href="/officermgmt"> View Officers
                </a></button> or <button class="headerButton"> <a href="/officeradd"> Add new Officer
                </a> </button>
            </p>
            <hr>
            <div class="container" id="studentTable">
                <div class="row">
                    <%users.forEach((user)=>{ %>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card fluid">
                                <img src="/media/headshotplaceholder.jpg" class="section media" id="studentMedia" />
                                <div class="section double-padded">
                                    <b>First Name:</b>
                                    <%= user.firstName %>
                                </div>
                                <div class="section double-padded">
                                    <b>Second Name:</b>
                                    <%= user.lastName %> <br>
                                </div>
                                <div class="section double-padded">
                                    <b>Email:</b>
                                    <%= user.email %><br>
                                </div>
                                <div class="section double-padded">
                                    <b>Role:</b>
                                    <%= user.role %><br>
                                </div>
                                <div class="section double-padded"> <b>Courses Managed: <br></b>
                                    <% user.courses.forEach((course)=> { %>
                                        <%= course %>,<br>
                                            <% }); %>
                                </div>
                                <div class="section double-padded">
                                    <button><a href="/editofficer/<%=user.id%>"> Edit </a></button>
                                    <button> <a href="/deleteofficer/<%=user.id%>"> Delete </a></button>
                                </div>

                            </div>
                        </div>
                        <% }); %>


                </div>
            </div>


</body>

</html>