<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <title>Course Management</title>
</head>

<body>

  <% if (message !== 'undefined' && message) { %>
  <span class="toast" id="successToast"><%= message %></span>
<% } %>

  <header>

    <a href="/landing" class="logo">HEDClass</a>
    <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>

      <a href="/dashboard" class="button">Dashboard</a>
      <a href="/studentmgmt" class="button">Student Management</a>
      <% } %>
        <% if(userAccessLevel==="admin" ) { %>
          <a href="/officermgmt" class="button"> Officer Management </a>
          <a href="/coursemgmt" class="button"> Course Management</a>
          <% } %>
            <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>
              <a href="/resultsmgmt" class="button"> Results Management</a>
              <% } %>
                <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ||
                  userAccessLevel==="admin" ) { %>
                  <a href="/logout" class="button">Logout</a>
                  <% } %>

                    <button> ( logged in as <Strong>
                        <%= userAccessLevel %>
                      </Strong>) </button>
  </header>

  <h3> Courses</h3>
  <p class="h5">
    Data:
  </p>
  <hr>

  <table>
    <tbody>
      <%courses.forEach((course)=>{ %>
      <tr>
        <td>Course Title: <%= course.title %></td>
        <td>Course y2 Weight: <%= course.classificationYear2Weight %></td>
        <td>Course y3 Weight: <%= course.classificationYear3Weight %></td>
        <td>Course Max Resit Score: <%= course.resitMax %></td>
        <td>Course Fail Threshold: <%= course.failBoundary %></td>
        <td>Course Third Range: <%= course.thirdLower %> - <%= course.thirdUpper %></td>
        <td>Course Two Two Range: <%= course.twoTwoLower %> - <%= course.twoTwoUpper %></td>
        <td>Course Two One Range: <%= course.twoOneLower %> - <%= course.twoOneUpper %></td>
        <td>Course First Boundary: ><%= course.firstBoundary %></td>
        <td><a href="/editcourserules/<%= course.id %>">Edit</a></td>
      </tr>
        <% }); %>
    </tbody>
  </table>

  <p>To create a new course please fill out all fields... Please note all courses will be loaded initially with the
    University's standard classification rules</p>

  <div class="courseForm">
    <form action="/addcourse" method="post">
      <div>
        Course Title: <input name="courseTitle" required>
      </div>

      <div>
        <button>Add Course</button>
      </div>
    </form>
  </div>

</body>

</html>