<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <title>HedClass</title>
</head>

<body>

  <header>
    <a href="/landing" class="logo">HEDclass</a>
    <a href="/dashboard" class="button">Dashboard</a>
    <a href="/studentmgmt" class="button">Student Management</a>
    <a href="/officermgmt" class="button"> Officer Management </a>
    <a href = "/coursemgmt" class="button"> Course Management</a>
    <a href ="/resultsmgmt" class="button"> Results Management</a>
    <a href="/logout" class="button">Logout</a>

  </header>
<h2> WELCOME TO THE DASHBOARD!!</h2>

        <hr>
       
    <table>
    <tbody>      
    <%uniqueCourses.forEach((stat)=>{ %>
    <tr>
 
  
    <td> Course Name: <%= stat.title %></td>
    <td> Total Number of Students: <%= studentStats[stat.courseID].totalStudents %> (<%= studentStats[stat.courseID].studentCountPercentage %>%) </td>
    <td> Number of Firsts: <%= studentStats[stat.courseID].gradeFirst %> (<%= studentStats[stat.courseID].firstPercentage %>%) </td>
    <td> Number of 2:1s: <%= studentStats[stat.courseID].gradeTwoOne %> (<%= studentStats[stat.courseID].twoOnePercentage %>%)</td>
    <td> Number of 2:2s: <%= studentStats[stat.courseID].gradeTwoTwo %> (<%= studentStats[stat.courseID].twoTwoPercentage %>%)</td>
    <td> Number of Thirds: <%= studentStats[stat.courseID].gradeThird %> (<%= studentStats[stat.courseID].thirdPercentage %>%)</td>
    <td> Number of Fails: <%= studentStats[stat.courseID].gradeFail%> (<%= studentStats[stat.courseID].failPercentage %>%)</td>
    </tr>
 <% }); %>
  </tbody>
</table>

</body>

</html>