<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">

    <title>Delete Officer</title>
</head>

<body>

    <form action="/deleteofficer" method="POST">
        <p>
        <div>
            User id: <input type="text" name="officerid" readonly value="<%=officer[0].id %>">
        </div>
        <div>
            User First Name: <input type="text" name="officerFirstName" readonly value="<%=officer[0].firstName %>">
        </div>
        <div>
            User Last Name: <input type="text" name="officerLastName" readonly value="<%=officer[0].lastName %>">
        </div>
        <div>
            User email address: <input type="text" name="officerEmail" readonly value="<%=officer[0].email %>">
        </div>
        <div>
            User Role: <select name="officerRole" readonly value="<%=officer[0].role %>">
                    <option value="admin"> Admin </option>
                    <option value="officer"> Officer</option>
                </select>
        </div>
        </p>
        <input type="submit" value="DELETE"onclick="return confirm('Are you sure?')">
    </form>

</body>

</html>