<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="myuis.css">
    <title>Officer Management</title>
</head>

<body>

  <header>
    <a href="/landing" class="logo">HEDclass</a>
    <a href="#" class="button">Dashboard</a>
    <a href="/studentmgmt" class="button">Student Management</a>
    <a href="/officermgmt" class="button"> Officer Management </a>
    <a href = "/coursemgmt" class="button"> Course Management</a>
    <a href="/logout" class="button">Logout</a>

  </header>

    <table>
        <tbody>
            <%users.forEach((user)=>{ %>
                <tr>

                    <td> <b>first name:</b> <%= user.firstName %>
                    </td>
                    <td> <b>second name:</b> <%= user.lastName %> <br></td>
                    <td> <b>email:</b> <%= user.email %><br></td>
                    <td> <b>course:</b> <%= user.role %><br></td>
                    <td> <a href="/editofficer/<%=user.id%>"> Edit </a></td>


                </tr>
                <% }); %>
        </tbody>
    </table>


    <p>To create a new officer, please fill out all fields...</p>

    <div class="officerForm">
        <form action="/addofficer" method="post">
            <div>
                First Name: <input name="officerFirstName" required>
            </div>
            <div>
                Last Name: <input name="officerLastName" required>
            </div>
            <div>
                Email: <input name="officerEmail" required>
            </div>
            <div>
                Role: <select name="officerRole" required>
                    <option value="admin"> Admin </option>
                    <option value="officer"> Officer</option>
                </select>
            </div>
            <div>
                Password: <input name="officerPassword" required>
            </div>
            <div>
                Course: <select name="OfficerCourseName" required>
                    <% courses.forEach ((course)=> {%>
                        <option value="<%= course.id%>">
                            <%= course.title%>
                        </option>
                        <%}); %>
                </select>
            </div>

            <div>
                <button>Add Officer</button>
            </div>
        </form>
    </div>


</body>

</html>