<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">

    <title>Edit Officer</title>
</head>

<body>

    <form action="/editofficer" method="POST">
        <p>
        <div>
            User id: <input type="text" name="officerid" readonly value="<%=officer[0].id %>">
        </div>
        <div>
            User First Name: <input type="text" name="officerFirstName" value="<%=officer[0].firstName %>">
        </div>
        <div>
            User Last Name: <input type="text" name="officerLastName" value="<%=officer[0].lastName %>">
        </div>
        <div>
            User email address: <input type="text" name="officerEmail" value="<%=officer[0].email %>">
        </div>
        <div>
            User Role: <input type="text" name="officerRole" value="<%=officer[0].role %>">
        </div>
        <div>
            User Course: <select name="OfficerCourseName" required>
                <% courses.forEach ((course)=> {%>
                    <option value="<%= course.id%>">
                        <%= course.title%>
                    </option>
                    <%}); %>
            </select>
        </div>



        </p>
        <input type="submit" value="update">
    </form>


</body>

</html>