<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <link rel="stylesheet" href="/myuis.css">
  <title>Award Calc</title>
</head>

<body>

  <% if (message !=='undefined' && message) { %>
    <span class="toast" id="successToast">
      <%= message %>
    </span>
    <% } %>

      <header>

        <a href="/landing" class="logo">HEDClass</a>
        <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>

          <a href="/dashboard" class="button">Dashboard</a>
          <a href="/studentmgmt" class="button">Student Management</a>
          <% } %>
            <% if(userAccessLevel==="admin" ) { %>
              <a href="/officermgmt" class="button"> Officer Management </a>
              <a href="/coursemgmt" class="button"> Course Management</a>
              <% } %>
                <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ) { %>
                  <a href="/resultsmgmt" class="button"> Results Management</a>
                  <% } %>
                    <% if(userAccessLevel==="officer(view)" || userAccessLevel==="officer(edit)" ||
                      userAccessLevel==="admin" ) { %>
                      <a href="/logout" class="button">Logout</a>
                      <% } %>

                        <button> ( logged in as <Strong>
                            <%= userAccessLevel %>
                          </Strong>) </button>
      </header>

      <p>
        Here you can either: <button> <a href="/resultadd/<%= student[0].id %>">
            Add New Module Result </a> </button>

      <form action="/addclassification" method="POST">
        <input type="hidden" name="studentId" value="<%= student[0].id %>">
        <button type="submit">Auto-Calculate Classification</button>
           <% if (award.length > 0 && userAccessLevel === "officer(edit)") { %>
        <a href="/editclassification/<%= student.id %>">
            <button>Manually Override Classification</button>
        </a>
    <% } %>
      </form>
 
      </p>
      <hr>


      <p>
        All Module results awarded to selected Student:
      </p>
      <hr>

      <div class="container" id="resultsTable">
        <div class="row">
          <%totalResults.forEach((result)=>{ %>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card fluid">
                <div class="section double-padded">
                  <b>First name:</b>
                  <%= result.firstName %> <br>
                </div>
                <div class="section double-padded"> <b>Second name:</b>
                  <%= result.lastName %> <br>
                </div>
                <div class="section double-padded"> <b>Email:</b>
                  <%= result.email %> <br>
                </div>
                <div class="section double-padded"> <b>Module Name:</b>
                  <%= result.moduleName %> <br>
                </div>
                <div class="section double-padded"> <b>Module Id:</b>
                  <%= result.moduleID %> <br>
                </div>
                <div class="section double-padded"> <b>Credit Value:</b>
                  <%= result.creditValue %> <br>
                </div>
                <div class="section double-padded"> <b>Score:</b>
                  <%= result.score %> <br>
                </div>
                <div class="section double-padded"> <b>Resit?:</b>
                  <% if (result.resit===1){ %>
                    Yes <% } else {%> No <% } %><br>
                </div>

              </div>
            </div>
            <% }); %>
        </div>
      </div>




</body>



</html>